<div class="signinchild w-100 h-100 d-flex flex-column align-items-center">
  <div class="logo w-fc mb-3">
    <img
      style="width: auto; height: 40px; object-fit: cover;"
      src="../../../assets/images/Slice (2).png"
      alt="Lol"
    />
    <!--<h1 class="roboto bpc-color fw-400 fs-18">Growthy</h1>-->
  </div>
  <div
    class="content w-100 rounded p-3 d-flex flex-column align-items-start justify-content-between"
  >
    <h1 class="roboto pc-color fs-20">
      Who is it? =)
    </h1>
    <div
      style="max-height: 400px; overflow-y: scroll;"
      class="childs mt-3 align-self-center row w-100 d-flex justify-content-start"
    >
      <div *ngFor="let child of children | async" class="child p-1 col-4">
        <div
          class="d-flex py-3 rounded flex-column align-items-center wrapper ac-background-25"
        >
          <div
            style="width: 75px; height: 75px; border-radius: 100%;"
            class="ac-background mb-3 pic o-25"
          ></div>
          <h6 class="fs-12">
            {{ child.firstname }}
            <span class="fs-12 o-50">({{ child.age }})</span>
          </h6>
        </div>
      </div>
   </div>
    <a class="mt-5 fs-12 fw-bold" routerLink="/addchild" routerLinkActive="active"
      >Add a new account for your child.</a
    >
  </div>
  <div class="bottom px-3 d-flex align-items-end justify-content-between w-100">
    <div class="">
      <small *ngIf="fs.UID" class="roboto fw-bold fs-12">
        <span class="o-50">Logged in as example@gmail.com </span
        ><a (click)="logout()" routerLink="login" class="fs-12 fw-bold"
          >logout</a
        >
      </small>
    </div>
    <a class="fs-12 fw-bold" routerLink="dashboard">Dashboard</a>
  </div>
</div>
