<div class="editchild w-100 h-100 d-flex flex-column align-items-center">
  <div class="logo w-fc mb-3">
    <img style="width: auto; height: 30px; object-fit: cover;" src="../../../assets/images/Slice (2).png" alt="Lol" />
    <!--<h1 class="roboto bpc-color fw-400 fs-18">Growthy</h1>-->
  </div>
  <div class="content w-100 rounded p-3 d-flex flex-column align-items-start justify-content-between">
    <form [formGroup]="editChildForm" (ngSubmit)="onSubmit()" class="d-flex flex-column w-100"
      *ngIf="childObs | async; else loading">
      <div id="addchild1" class="form-part d-flex flex-column">
        <h1 class="roboto ac-color fs-20">Edit {{ child.firstname }}'s account</h1>
        <p class="form-text text-muted fs-12">
          Edit the form below and hit save.
        </p>
        <div class="form-group">
          <label class="fs-12" for="exampleInputPassword1">Firstname</label>
          <input type="text" class="form-control fs-14" placeholder="Enter firstname" formControlName="firstname" />
          <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)">
            <span *ngIf="firstname?.errors.required" class="fs-12 italic">Firstname is required.</span>
          </div>
        </div>
        <div class="form-group">
          <label class="fs-12" for="exampleInputPassword1">Age</label>
          <input type="number" class="form-control fs-14" placeholder="Enter your child's age" placeholder="Age"
            formControlName="age" />
          <div *ngIf="age.invalid && (age.dirty || age.touched)">
            <span *ngIf="age?.errors.required" class="fs-12 italic">Age is required.</span>
            <span *ngIf="age?.errors.min" class="fs-12 italic">Minimum age is 4.</span>
            <span *ngIf="age?.errors.max" class="fs-12 italic">Maximum age is 16.</span>
          </div>
        </div>
      </div>
      <div id="addchild2" class="form-part flex-column">
        <h1 class="roboto ac-color fs-20">
          Adjust Settings
        </h1>
        <div class="form-group">
          <label class="fs-12" for="exampleInputPassword1">Watch Time</label>
          <input type="number" class="form-control fs-14" formControlName="watch_time" />
          <div *ngIf="
          watch_time.invalid &&
                (watch_time.dirty || watch_time.touched)
              ">
            <span *ngIf="watch_time?.errors.required" class="fs-12 italic">Watch Time is required.</span>
            <span *ngIf="watch_time?.errors.min" class="fs-12 italic">Minimum duration is 5.</span>
            <span *ngIf="watch_time?.errors.max" class="fs-12 italic">Maximum duration is 30.</span>
          </div>
        </div>
      </div>
      <span style="color: red;" class="fs-12">
        {{ error != undefined ? error : "" }}
      </span>
      <button [disabled]="!editChildForm.valid" type="submit" class="fs-14 align-self-end btn btn-growthy">
        Save
      </button>
      <a class="fs-12 fw-bold mt-3" routerLink="">Cancel</a>
    </form>
    <ng-template style="height: 10000px; width: 100%; background-color: red;" #loading>
      Loading...
    </ng-template>
  </div>
</div>