body {
	font-family: sans-serif;
	text-align: center;
	color: #333;
	background-color: rgb(42,174,99,0.15);
}

.row {
	margin-top: 32px;
	margin-bottom: 32px;
}

h1 {
	font-size: 3em;
}

h4 {
	margin-top: 16px;
}

p {
	margin-top: 24px;
	margin-bottom: 24px;
}

.btn {
    background-color: rgb(42,174,99);
    border-color: rgb(42,174,99);
}