body {
	font-family: sans-serif;
	text-align: center;
	color: #333;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 2em;
}

input {
	font-size: 72px;
	max-width: 100%;
	border: none;
	border-radius: 10px;
	background-color: #E6E6E6;
	text-align: center;
}

input:focus {
	outline: none;
}

p {
	text-align: center;
	font-size: 22px;
}

p span {
	font-size: 96px;
}

.container {
	margin: 0 auto;
	width: 420px;
}

.controls {
	position: relative;
	margin: 0 auto;
	width: 270px;
}

#response {
	color: #FF6666;
}