<div class="dashboard w-100 h-100 d-flex flex-column align-items-center">
  <div class="logo d-flex justify-content-between align-items-end w-100 mb-3">
    <h1 class="roboto ac-color fw-bold fs-24 p-0">
      Parent Dashboard
    </h1>
    <img
      style="width: auto; height: 30px; object-fit: cover;"
      src="../assets/logo2.png"
      alt="Lol"
      class="align-self-start"
    />
    <!--<h1 class="roboto bpc-color fw-400 fs-18">Growthy</h1>-->
  </div>
  <div
    class="content w-100 rounded d-flex flex-column align-items-start justify-content-between"
  >
    <div class="credentials bsb-15 bpc-background w-100 rounded p-3 mb-3">
      <h1 class="o-75 fs-14 fw-bold mb-3">Account Credentials</h1>
      <div class="fullname px-4 rounded d-flex justify-content-between">
        <span class="align-self-center fs-12 fw-bold o-75">Full name</span>
        <div class="data align-self-start">
          <span class="fs-12">Gracio Martinez</span>
          <a class="fs-11" href="#">update</a>
        </div>
      </div>
      <div class="email px-4 rounded d-flex justify-content-between">
        <span class="align-self-center fs-12 fw-bold o-75">Email</span>
        <div class="data align-self-start">
          <span class="fs-12">gracio_martinez@gmail.com</span>
          <a class="fs-11" href="#">update</a>
        </div>
      </div>
      <div class="password px-4 rounded d-flex justify-content-between">
        <span class="align-self-center fs-12 fw-bold o-75">Password</span>
        <div class="data align-self-start">
          <span class="fs-12">*************</span>
          <a class="fs-11" href="#">change</a>
        </div>
      </div>
    </div>
    <div class="children bsb-15 bpc-background w-100 rounded p-3 mb-3">
      <h1 class="o-75 fs-14 fw-bold mb-3">Children Accounts</h1>
      <div
        class="child mb-3 p-2 ac-background-25 bsb-15 rounded d-flex align-items-center"
      >
        <div
          style="width: 50px; height: 50px; border-radius: 100%;"
          class="ac-background pic mr-3 o-25"
        ></div>
        <div class="data d-flex flex-column align-items-start">
          <span class="first-name fw-bold fs-12">Wassim</span>
          <span class="last-seen fs-11 fw-bold o-75">seen 2 hours ago</span>
          <a class="fs-11 fw-bold o-75" href="#">account settings</a>
        </div>
      </div>
      <div
        class="child mb-3 p-2 ac-background-25 bsb-15 rounded d-flex align-items-center"
      >
        <div
          style="width: 50px; height: 50px; border-radius: 100%;"
          class="ac-background pic mr-3 o-25"
        ></div>
        <div class="data d-flex flex-column align-items-start">
          <span class="first-name fw-bold fs-12">Adel</span>
          <span class="last-seen fs-11 fw-bold o-75">seen 23 minutes ago</span>
          <a class="fs-11 fw-bold o-75" href="#">account settings</a>
        </div>
      </div>
    </div>
  </div>
</div>
