<div class="intro h-100 d-flex flex-column align-items-center">
    <div class="logo w-fc mb-3">
      <img
        style="width: auto; height: 50px; object-fit: cover;"
        src="../assets/Slice (2).png"
        alt="Lol"
      />
      <!--<h1 class="roboto bpc-color fw-400 fs-18">Growthy</h1>-->
    </div>
    <div
      class="content rounded p-3 d-flex flex-column align-items-start justify-content-between"
    >
      <h1 class="roboto ac-color fs-20">Caring parent, Welcome!</h1>
      <p class="fs-14 o-75 my-3">
        Growthy is an app and a whole envirenement designed to mainly focus
        on the growth of your child, and to help you, as a parent.
        <br /><br />
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam
        commodi iste voluptatum, qui deleniti quo optio pariatur, error non
        laboriosam enim, possimus ducimus nulla natus corporis beatae ipsum
        cum animi. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Ipsa impedit aut, delectus hic non tenetur ipsam est consectetur
        eligendi iure libero, commodi cumque dolor, enim repellat
        perspiciatis doloribus dolorum voluptatem.
      </p>
      <button class="align-self-end btn btn-growthy">Get started</button>
    </div>
  </div>